.custom-messages {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000; /* Ajusta este valor según sea necesario */
}
.password-container {
  position: relative;
}
.contenedorP {
  background-color: transparent;
}

.formulario {
  background-color: transparent;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password i {
  font-size: 1.2rem;
  color: var(--text-color);
}


