/* Estilos para el body y el html */
@import "primeicons/primeicons.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos específicos para el body */
  body {
    background: linear-gradient(45deg, #ffffff 50%, #9c6ef7 50%);

  }

  /* Aumentar especificidad de los estilos */
body .p-dialog .p-dialog-header {
  padding-bottom: 10px;
  background-color: #e1d4fa;

}

body .p-dialog .p-dialog-content {
  background-color: #e1d4fa;
}

  